<div
  class="flex flex-grow items-center justify-center bg-primary-special2 w-1/2"
>
  <div
    class="max-w-full p-8 bg-primary-dark rounded-lg shadow-lg w-96 text-primary-semiLight"
  >
    <div class="flex items-center mb-6">
      <svg
        class="h-8 w-8 text-primary-special stroke-current"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4"
        />
      </svg>
      <h4 class="font-semibold ml-3 text-lg">Votre to-do list</h4>
    </div>

    <ul>
      <% tasks.forEach((task, index) => { %>

      <div id="<%= index %>">
        <form method="post" action="/delete/">
          <input
            class="hidden"
            type="checkbox"
            name="id"
            value="<%= index %>"
            checked
          />
          <label
            class="flex items-center h-10 px-2 rounded cursor-pointer hover:bg-gray-900"
            for="task_6"
          >
            <span
              class="flex items-center justify-center w-5 h-5 text-transparent border-2 border-gray-500 rounded-full"
            >
              <svg
                class="w-4 h-4 fill-current"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                />
              </svg>
            </span>
            <span class="ml-4 text-sm"><%= task %></span>
            <button type="submit">❌</button>
          </label>
        </form>
      </div>

      <% }); %>
    </ul>

    <a
      href="/details"
      target="blank"
      class="flex gap-5 items-center w-fit h-full py-2 pl-3 pr-5 mt-5 text-sm font-medium rounded bg-primary-special text-primary-dark hover:text-primary-light focus:ring-4 focus:ring-primary-semiLight focus:cursor-pointer"
    >
      <svg
        class="w-6 h-6 fill-current"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 1000 1000"
        stroke="currentColor"
      >
        <path
          d="M665.8,849.6l306.2-306.2c23.9-23.9,23.9-62.7,0-86.6L665.8,150.4c-23.9-23.9-62.7-23.9-86.6,0c-23.9,23.9-23.9,62.7,0,86.6l201.7,201.7H71.3C37.4,438.7,10,466.2,10,500s27.4,61.3,61.3,61.3h709.6L579.2,762.9c-12,12-17.9,27.6-17.9,43.3s6,31.3,17.9,43.3C603.1,873.5,641.9,873.5,665.8,849.6z"
        />
      </svg>
      <span>La To-do list en détail</span>
    </a>
  </div>
</div>
