<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To-do list détails</title>
    <link rel="stylesheet" href="/stylesheets/style.css"></link>
    <style></style>
  </head>
  <body class="bg-[#0D0D0D] flex flex-col min-h-screen">
    <%- include("partials/header") %>
    <div class="flex grow justify-center content-center">
      <%- include("partials/todoList") %>
    </div>
    <%- include("partials/footer") %>
  </body>
</html>
